body {
    margin: 2rem;
}

.container {
    display: flex; /* or inline-flex */
}

#blog-list {
    flex-basis: 50%;
}

.blog-header {
    justify-content: space-between;
}

/*
    TODO: move buttons specific css to its own css file
*/
.buttons {
    justify-content: flex-end;
}

.buttons button {
    margin-top: 1rem;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
}

.edit-button {
    margin-right: 0.5rem;
    background-color: #4CAF50;
}

.delete-button {
    background-color: #f44336;
}